.dygraph-legend {
  left: 70px !important;
  background-color: transparent !important;
}
.dygraph-title {
  color: navy;
  font-weight: bold;
}
.dygraph-axis-label-x {
-webkit-transform: rotate(-40deg); 
-moz-transform: rotate(-40deg);
    float: right;
    height: 25px;
    margin: 10px 10px 0px 0px;
      font-size: 10px;
}
img.resize{
    width:540px; /* you can use % */
    height: 250;
}
graph_div {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 140px;
  bottom: 400px;
}
